---
import { WebsiteConfig } from ./config
---
<meta charset="utf-8">

<meta property="og:title" content="Call for proposals">
<meta property="og:site_name" content={WebsiteConfig.siteTitle} >
<meta property="og:url" content="">
<meta property="og:description" content={WebsiteConfig.headMetaDescription}>
<meta property="og:type" content="">
<meta property="og:image" content={WebsiteConfig.socialCardImage}>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@UbuConAsia">
<meta name="twitter:title" content={`${WebsiteConfig.siteTitle} Call for proposals`}>
<meta name="twitter:description" content={WebsiteConfig.headMetaDescription}>
<meta name="twitter:image" content={WebsiteConfig.socialCardImage}>

<body>
    <p>Page won't redirect if Javescript is disabled. <a href={WebsiteConfig.cfpLink}>In that case, Click here to redirect manually.</a></p>
</body>

<script is:inline>
    //redirect
    window.location = {WebsiteConfig.cfpLink} 
</script>