---
import { WebsiteConfig } from "../config";
import eventLogo from "@assets/logo.svg";
import { extraDetails } from "../data/otherSpeaker";

const indicoResponse = await fetch(WebsiteConfig.otherSpeakers.indicoExportUrl);
const indicoResJson = await indicoResponse.json();
const sessions = indicoResJson.results
  ? indicoResJson.results[0].contributions
  : null;

const otherSessions = WebsiteConfig.otherSpeakers.contributionIds
  .map((id) => sessions.find((session: any) => session.friendly_id === id))
  .filter(Boolean);

const otherSpeakers = [];

for (const session of otherSessions) {
  for (const speaker of session.speakers) {
    const imgId = WebsiteConfig.otherSpeakers.speakerIds.find(
      (user) => speaker.db_id === user.db_id
    );
    if (!imgId) continue;
    const details = extraDetails.find(
      (d) =>
        d.name.toLowerCase() ===
        `${speaker.first_name} ${speaker.last_name}`.toLowerCase()
    );
    otherSpeakers.push({
      name: `${speaker.first_name} ${speaker.last_name}`,
      profileImg: details?.image,
      url: session.url,
      db_id: speaker.db_id,
    });
  }
}
otherSpeakers.sort((a, b) => {
  const ids = WebsiteConfig.otherSpeakers.speakerIds.map((s) => s.db_id);
  return ids.indexOf(a.db_id) - ids.indexOf(b.db_id);
});
---

{
  otherSpeakers.length > 0 && (
    <section class="p-section">
      <div class="p-section--shallow">
        <div class="row">
          <hr class="p-rule" />
        </div>
        <div class="row">
          <h2>Other speakers</h2>
          {otherSpeakers.map((speaker) => (
            <a href={speaker.url} target="_blank" class="col-4 col-medium-3">
              <div class="wrapper p-media-object--large p-button--base">
                <img
                  src={speaker.profileImg}
                  onerror={`this.onerror=null;this.src=${eventLogo.src}`}
                  class="p-media-object__image is-round"
                  alt=""
                  loading="lazy"
                />
                <div class="p-media-object__details">
                  <h3>{speaker.name}</h3>
                </div>
              </div>
            </a>
          ))}
        </div>
      </div>
    </section>
  )
}

<style>
  h3 {
    color: var(--vf-color-link-default);
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3,
  .p-media-object__content {
    /* margin-bottom: 0; */
    font-size: 18px;
  }

  .p-button--base {
    text-align: start;
    justify-content: start;
  }
</style>
