---
import { ticketPatron } from "../data/patron.ts";
---

<div class="grid-row">
  {
    ticketPatron.map((p) => {
      return (
        <div class="grid-col-medium-3 grid-col-4">
          <div class="p-media-object--large">
            <img
              src={p.img}
              class="p-media-object__image is-round"
              alt={p.name}
            />
            <div class="p-media-object__details">
              <a href={p.url} target="_blank">
                <h4>{p.name}</h4>
              </a>
              <p class="p-media-object__content">{`${p.amount}`}</p>
            </div>
          </div>
        </div>
      );
    })
  }
</div>
